.hidden {
  opacity: 0;
  visibility: hidden;
  transition: visibility 2s ease, opacity 2s ease;
}s

.controls {
  opacity: 1;
  visibility: visible;
  transition: visibility 1s ease, 1s opacity ease;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-controls {
  width: 100%;
  left: 0;
}

.play-btn {
  cursor: pointer;
  border-color: transparent transparent transparent rgb(255, 255, 255, 0.85);
  outline: none;
}

.paused {
  border-style: solid;
  border-width: 37px 0 37px 60px;
}

.playing {
  width: 0;
  height: 74px;
  border-style: double;
  border-width: 0px 0 0px 60px;
}
